//out: ../css/main.css, compress: false, strictMath: false
@import "mixins.less";
@import "variables.less";

@import url(reset.css);
@import url(cross-platform.css);

/*Fonts*/
@import url(font-awesome.css);


//darken(@colorLink, 40%); темнее
//lighten(@color-1, 35%)
h1 {
	font-weight: 800;
	font-size: 250%;
}
h2 {
	font-size: 175%;
}

//Colors
@menuProfileBackground: rgb(110, 27, 255);
@menuProfileCoolor: spin(@menuProfileBackground, 180);
@colorLink: #9c6;
.colorLinkL {
	border-bottom: 1px solid @colorLink;
}

/*Header*/
header {
	a,
	a:visited,
	a:link,
	a:active {
	text-decoration: none;
	display: block;
	}
}
.menuProfile {
	margin: 0 0 10px;
	padding: 5px 50px;
	box-shadow: 0 1px 2px;
	a {
		padding: 3px 10px;
		color: lighten(@colorLink, 25%);
		&:hover {
			color: @colorLink;
		}
	}
	img {
		height: 19px;
		width: 21px;
	}
	li {
		margin-left: 5px;
		float: right;
	}
	.devider {
		padding: 5px 0;
	}
}
.logo {
	padding: 0 50px;
	margin: 10px 0;
	color: rgba(0, 0, 0, .5);
}
.menu-main {
	margin: 10px 0;
	padding: 0 50px;
	background-color: @menuProfileCoolor;
	li {
		float: left;
	}
	a {
		padding: 10px;
	}
}

/*Content (Centr)*/
article {
	height: 600px;
}

/*Footer*/

/**/
li {
	list-style-type: none;
}

/*Different*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
