include variable
include mixins
doctype html
html(lang='ru')
	head
		title LoGo | Главная страница
		meta(charset='utf-8')
		//отключить режим совместимости IE
		meta(http-equiv='X-UA-Compatible' content='IE-edge')
		//-bag jade (не отображаетмя подсветка синтаксиса при добавлении комментария для IE)
		include commentIE
		link(rel="stylesheet", href="css/main.css")
		script(src='js/main.js')
	body
		header
			nav.menuProfile
				+menu(menuProfile)
			.logo
				hgroup
					h1 logo
					h2 Slogan
			nav.menuMain
				+menu(menuMain)
		article
			h1 Header 1
			block content
		footer
			address.vcard &copy; 2015 Developer by
				span.fn #{developer}
