extends template
block content
	#content
		p.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			Ducimus facere nobis a magnam alias hic, iusto ad, inventore,
			debitis impedit sint vero. Reiciendis, consequuntur laboriosam.
			Animi velit sed, obcaecati veniam?


//-var jade = require('jade-highlighter')
//-jade.loadMode('php')
//-:php
//-	echo 'strisdfasdfasfng';
